# Dependencies
node_modules/
package-lock.json
npm-debug.log
yarn-lock.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build
dist/
dist-pages/
_site/
build/
*.o
*.so

# Temp
tmp/
temp/
.cache
